// This is a manifest file that'll automatically include all the stylesheets available in this directory
// and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
// the top of the compiled file, but it's generally better to create a new file per style scope.
//= require_self

@import 'bourbon'
@import 'fonts'
@import 'colors'
@import 'mixins'
@import 'scaffolds'


body
  font-family: $helvetica
  font-size: 12px
  background: $light-gray
  background: url('bgrd.png')

h1, h2, h3, h4, h5, h6
  margin-top: 0

#full-page
  width: 960px
  min-height: 500px
  margin: auto
  padding: 0 0 10px 10px
  @include border-radius(4px)
  background: #f8f8f8
  color: $dark-gray
  @include box-shadow(2px 2px 12px 3px #b2b2b2)

#header
  @include border-bottom-left-radius(5px)
  @include border-bottom-right-radius(2px)
  @include border-top-right-radius(4px)
  @include border-top-left-radius(2px)
  background: $charcoal
  @include linear-gradient(lighten($charcoal, 8%), $charcoal)
  color: $light-gray
  @include box-shadow(1px 2px 4px 1px #c8c8c8)
  margin-left: 130px
  padding: 5px 10px
#account-nav
  float: right
#status
  h3
    margin: 0

#left-col
  width: 128px
  float: left

#logo
  margin-top: -35px
  padding-top: 10px
  vertical-align: center
  background-repeat: no-repeat

#content
  float: right
  width: 810px
  padding-right: 10px
  margin-top: 10px
#footer
  display: block
  clear: both
  
a
  color: $like-green
  text-decoration: none
a:hover
  color: $like-blue
  text-decoration: underline

input
  &[type='text'], &[type='password'], &[type='email'], &[type='number']
    background: lighten($dark-gray, 85%)
    padding: 4px 5px
    color: $charcoal
    border: 1px solid $like-green
    border-radius: 3px
    @include box-shadow(inset 1px 1px 5px 1px #e5e5e5)
  &[type='submit']
    @include button_remix($like-blue)
    margin-top: 5px
    &:hover
      @include box-shadow(1px 1px 5px 1px #ccc)

#login-form
  input
    width: 200px
    display: block
    &[type='checkbox']
      display: inline-block
    &[type='submit']
      width: auto

form
  margin-top: 0
  label
    padding-right: 5px
  .field
    display: inline-block
    margin-top: 5px
  .actions
    margin-top: 0
    input[type='submit']
      float: right

#release_name
  width: 300px
#datepicker
  width: 80px
.release-date.field
  padding-left: 30px
  
// Tabs
ul.navigation
  padding: 0
  margin: 0
  list-style-type: none
  li
    display: block
    width: 100px
    margin: auto
    margin-bottom: 1px
    a
      @include button_remix($pale-yellow)
      display: inline-block
      width: 80%
      color: $charcoal
    &:hover
      @include box-shadow(none)
      a:hover
        text-decoration: none
    .current-tab
      @include linear-gradient(lighten($pale-yellow, 15%), lighten($pale-yellow, 10%))
      @include border-radius(3px)
      border: 1px solid $pale-yellow
      display: inline-block
      font-size: 11px
      width: 100%
      padding: 3px 5px

.new-link
  float: right
  @include button_remix($like-green)
  &:hover
    color: white

table.releases
  td
    padding: 0 1px
    &.artist
      background: $light-gray
      padding-right: 5px

table#new-recordings-table
  margin-top: 10px
  border-collapse: collapse
  td
    display: table-cell
  td.new-track-no
    input
      width: 50px
  td.new-recording-length
    input
      width: 50px

.releases-show
  .show-art
    display: block
    margin-right: 10px
    padding: 4px
    height: 50px
    float: left
  h2, h3
    display: inline

.alternative
  @include genre($alternative)
.electronic
  @include genre($electronic)
.hip-hop
  @include genre($hip-hop)
.instrumental
  @include genre($instrumental)
.jazz
  @include genre($jazz)
.metal
  @include genre($metal)
.pop
  @include genre($pop)
.rock
  @include genre($rock)
.soul
  @include genre($soul)

@import 'jquery-ui'
@import 'token-input'
