// This is a manifest file that'll automatically include all the stylesheets available in this directory
// and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
// the top of the compiled file, but it's generally better to create a new file per style scope.
//= require_self

@import 'bourbon'
@import 'fonts'
@import 'colors'
@import 'mixins'
@import 'scaffolds'


body
  font-family: $helvetica
  font-size: 12px
  background: $light-gray
  background: url('bgrd.png')

h1, h2, h3, h4, h5, h6
  margin-top: 0

#full-page
  width: 960px
  min-height: 400px
  margin: auto
  padding: 0 10px 10px 10px
  border-radius: 4px
  background: #f8f8f8
  color: $dark-gray
  @include box-shadow(2px 2px 12px 3px #b2b2b2)

#header
  margin: 0 0 10px 150px
  height: 25px

#account-nav
  float: right
  padding-top: 10px
#status
  @include border-bottom-radius(5px)
  width: 600px
  padding: 5px 10px
  background: $charcoal
  @include linear-gradient(lighten($charcoal, 8%), $charcoal)
  color: $light-gray
  @include box-shadow(1px 1px 4px 1px #c8c8c8)
  h3
    margin: 0

#left-col
  width: 128px
  float: left

#logo
  margin-top: -35px
  padding-top: 10px
  vertical-align: center
  background-repeat: no-repeat

#content
  float: right
  width: 810px
a
  color: $like-green
  text-decoration: none
a:hover
  color: $like-blue
  text-decoration: underline

input
  &[type='text'], &[type='password'], &[type='email'], &[type='number']
    background: lighten($dark-gray, 85%)
    padding: 4px 5px
    color: $charcoal
    border: 1px solid $like-green
    border-radius: 3px
    @include box-shadow(inset 1px 1px 5px 1px #e5e5e5)
  &[type='submit']
    @include button_remix($like-blue)
    margin-top: 5px
    &:hover
      @include box-shadow(1px 1px 5px 1px #ccc)

#login-form
  input
    width: 200px
    display: block
    &[type='checkbox']
      display: inline-block
    &[type='submit']
      width: auto

form
  label
    padding-right: 5px
  .field
    display: inline-block
    margin-top: 5px

#release_name
  width: 300px
#datepicker
  width: 80px
.release-date.field
  padding-left: 30px
  
// Tabs
ul.navigation
  padding: 0
  margin: 0
  list-style-type: none
  li
    display: block
    width: 100px
    margin: auto
    margin-bottom: 1px
    a
      @include button_remix($pale-yellow)
      display: inline-block
      width: 80%
      color: $charcoal
    &:hover
      @include box-shadow(none)
      a:hover
        text-decoration: none
    .current-tab
      @include linear-gradient(lighten($pale-yellow, 15%), lighten($pale-yellow, 10%))
      @include border-radius(3px)
      border: 1px solid $pale-yellow
      display: inline-block
      font-size: 11px
      width: 100%
      padding: 3px 5px
      
.actions
  input[type='submit']
    float: right

.new-link
  float: right
  @include button_remix($like-green)
  &:hover
    color: white

@import 'jquery-ui'
@import 'token-input'
